@import "../../global.scss";
.topbar {
    width: 100%;
    position: fixed;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    z-index: 2;
    transition: all 1s ease;
    padding-bottom: .1rem;
    a:hover {
        transition: all 0.5s ease;
        color: $mainYellow !important;
    }
    .wrapper {
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include mobile {
            padding: 0px 1.2rem;
        }
    }
    .left {
        display: flex;
        align-items: center;
        .logo {
            font-size: 1.2rem;
            font-weight: 600;
            text-decoration: none !important;
            color: whitesmoke;
            margin-right: 2rem;
        }
        .itemCount {
            display: flex;
            align-items: center;
            margin-left: 30px;
            a {
                text-decoration: none;
                font-weight: 600;
                display: flex;
                align-items: flex-end;
                color: inherit;
                .icon {
                    font-size: 18px;
                    margin-right: 5px;
                }
                span {
                    font-size: 14px;
                }
            }
        }
    }
    .right {
        .hambugger {
            width: 22px;
            height: 19px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            span {
                width: 100%;
                height: 3px;
                background-color: whitesmoke;
                transform-origin: left;
                transition: all 2s ease;
            }
        }
        .hambugger:hover {
            span {
                background-color: red !important;
            }
        }
    }
    &.active {
        // background-color: $mainColor;
        // color: white;
        .wrapper {
            .left {
                .logo {
                    // color: $mainYellow;
                    // color: white;
                }
                .itemCount {
                    // color: white !important;
                }
            }
        }
        .hambugger {
            span {
                &:first-child {
                    background-color: white;
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:last-child {
                    transform: rotate(-45deg);
                    background-color: white;
                }
            }
        }
        .hambugger:hover {
            span {
                &:first-child {
                    background-color: red !important;
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:last-child {
                    transform: rotate(-45deg);
                    background-color: red !important;
                }
            }
        }
    }
}