@import '../../global.scss';
.contact {
    @include mobile {
        flex-direction: column;
        margin-top: 2rem;
    }
    .wrapper {
        h1:first-of-type {
            margin-top: 10rem !important;
            @include mobile {
                margin-top: 5rem !important;
            }
        }
        h1 {
            font-size: 3rem !important;
        }
        p {
            line-height: 1.7rem;
        }
        a {
            font-weight: 600;
            font-size: 1.1rem;
            text-decoration: none;
            color: $mainColor;
        }
    }
}