@import '../../global.scss';
.intro {
    max-height: 90vh !important;
    overflow-y: hidden !important;
    margin-top: 10vh !important;
    display: flex;
    @include mobile {
        flex-direction: column;
    }
    .left {
        flex: 0.55;
        position: relative;
        .wrapper {
            width: 100%;
            height: 100%;
            padding: 0px 2rem;
            display: flex;
            flex-direction: column;
            h2 {
                color: whitesmoke;
            }
            p {
                .ityped-cursor {
                    animation: blink 1s infinite;
                }
                @keyframes blink {
                    to {
                        opacity: 0;
                    }
                }
            }
            @include mobile {
                justify-content: space-between;
                height: 70vh;
                padding: 0px 0.9rem;
                h2 {
                    margin-top: 2rem !important;
                    display: none !important;
                }
            }
        }
        a {
            position: absolute;
            bottom: 10px;
            right: 20%;
        }
    }
    .right {
        flex: 0.45;
        overflow: hidden;
        .imgContainer {
            margin: 1rem;
            width: 480px;
            height: 480px;
            background-color: $mainYellowOpacity;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            float: left;
            img {
                height: 90%;
            }
        }
    }
    .wrapperSm {
        @include mobile {
            display: block;
            padding: 0px 0.9rem;
            margin-top: 1.9rem 0px;
        }
        .itemCountSm {
            width: 60%;
            display: flex;
            justify-content: space-between;
            a {
                color: $mainColor;
                display: block;
                .icon {
                    display: block;
                    color: inherit;
                    font-size: 2.2rem;
                }
            }
        }
    }
}